---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page 1">
	<div>
    <h2>Page 1</h2>
    <a href="/">Home</a>
    <br/>
    <a href="/page2">Page 2</a>
  </div>
</Layout>

<style>
	div {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>